.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 260px;
  width: 100vw;
  background-color: rgb(36, 41, 46);
  margin-top: 11vh;
  color: #ffffff;

  h1 {
    font-size: 20px;
  }

  i {
    align-self: center;
    font-size: 50px;
    margin: 0 15px;
    color: #ffffff;
  }

  &-links {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
  }

  &__copyright {
    color: rgb(36, 41, 46);
    background-color: #ffffff;
    padding: 5px 15px;
    border-radius: 3px;
    font-size: 12px;
  }
}

@media screen and (min-width: 200px) and (max-width: 550px) {
  .footer {
    &__copyright {
      width: 240px;
      padding: 10px 30px;
      text-align: center;
    }
  }
}
