.navbar {
    z-index: 100;
    position: fixed;
    width: 100vw;
    padding: 5px 30px;
    text-transform: uppercase;
    &-collapse {
        justify-content: end;
    }
    &-brand {
        color: rgba(255, 255, 255, 0.55) !important;
        font-size: 16px;
        font-weight: 600;
    }
}