.projects {
  background-color: rgb(249, 251, 252);
  color: #d85c5b;
  padding: 80px 40px 30px 40px;

  &__header {
    text-align: center;
    margin-bottom: 80px;
    font-weight: 700;
  }

  &-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 70px 0;

    &-header {
      text-align: center;
      margin-bottom: 40px;
      font-size: 25px;

      &__link {
        margin: -5px 13px 0 13px;
        color: #d63d1a;
        &-img {
          height: 30px;
        }
      }

      & span {
        font-size: 14px;
      }
    }
  }
  &-project {
    margin: 15px;
    background-color: #ffffff;

    &__img {
      height: 230px;
      width: 320px;
      object-fit: contain;
      padding: 15px 20px;
      border-radius: 3px;
      box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
        rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

      &-overlay {
        opacity: 0;
        height: 230px;
        width: 320px;
        margin-top: -230px;
        display: flex;
        justify-content: center;
        text-align: center;
        background-color: rgba(33, 37, 41, 0.15);
        cursor: pointer;
        i {
          font-size: 100px;
          align-self: center;
          color: #ffffff;
        }
        &:hover {
          opacity: 1;
          z-index: 11;
          position: relative;
          transition-duration: 0.3s;
        }
      }
    }
    &-modal {
      max-width: 90vw;
      width: 90vw;
      margin: 50px 5vw;

      &-content {
        padding: 20px;
      }

      &-body {
        max-width: 700px;
        align-self: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        &-links {
          display: flex;
          align-items: center;

          p {
            margin-bottom: 0;
            font-size: 16px;
          }

          &__website,
          &__github {
            color: rgb(36, 41, 46);
            margin: 0 15px;
            &:hover {
              color: rgba(36, 41, 46, 0.8);
            }
          }

          &__website {
            color: #d85c5b;
          }

          &__github {
            font-size: 45px;
          }
        }
      }

      &__close {
        position: absolute;
        right: 15px;
      }

      &__title {
        margin: 20px;
        font-size: 45px;
        text-align: center;
        color: #d85c5b;
      }

      &__headline {
        max-width: 700px;
        align-self: center;
        font-size: 25px;
      }

      &__video {
        height: 350px;
        width: 700px;
        align-self: center;
        margin: 40px 0;
      }

      &__img {
        max-height: 300px;
        max-width: 80vw;
        align-self: center;
        margin: 40px 0;
      }

      &-stack {
        text-align: center;
      }

      &-footer {
        justify-content: center;
      }
    }
  }
}

@media screen and (min-width: 280px) and (max-width: 900px) {
  .projects-project-modal__video {
    max-width: 90%;
  }
}

@media screen and (min-width: 280px) and (max-width: 500px) {
  .projects {
    &-project {
      &__img {
        height: 200px;
        width: 290px;

        &-overlay {
          height: 200px;
          width: 290px;
          margin-top: -200px;
        }
      }

      &-modal {
        &__title {
          font-size: 30px;
          margin-top: 45px;
        }

        &__headline {
          font-size: 19px;
        }

        &__video {
          height: auto;
        }

        &-body {
          padding: 0;

          &__text {
            font-size: 15px;
          }

          &-links {
            p {
              font-size: 14px;
            }

            &__github {
              margin: 5px;
            }
          }
        }
      }
    }
  }
}
