.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
    color: rgb(61, 61, 61);
    &__text {
        font-size: 18px;
    }
    &__image {
        position: relative;
        object-fit: cover;
        height: 250px;
        width: 250px;
        align-self: center;
        border-radius: 50%;
        margin: 20px;
    }
}